*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    /* min-height: 900px; */
    background-color: #8bc6ec;
    background-image: linear-gradient(#8bc6ec 0%, #9599e2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 
.card img{
    width: 100%;
    height: 33%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 75%;
    text-align: center;
}
#amountbox{
    width: 80%;
    height: 10%;
    background-color: #8bc6ec;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
.leftbox{
    /* width: fit-content; */
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}
.rightbox{
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
#paymentbutton{
    width: 80%;
    height: 9%;
    background-color: rgb(28, 28, 126);
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.cancelbox a{
    text-decoration: none;
    color: rgb(99, 95, 95);
    font-weight: bold;
    font-size: large;
}
.img img{
    height: 3rem;
    width: 3.4rem;
}
       